<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql:///crm</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">zhengzhiwen</property> -->
		
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<mapping resource="hbm/user.hbm.xml"/>
		<mapping resource="hbm/address.hbm.xml"/>
		<mapping resource="hbm/orderForGoods.hbm.xml"/>
		<mapping resource="hbm/card.hbm.xml"/>
		<mapping resource="hbm/tradeRecord.hbm.xml"/>
		<mapping resource="hbm/cake.hbm.xml"/>
		<mapping resource="hbm/picture.hbm.xml"/>
		<mapping resource="hbm/variety.hbm.xml"/>
		<mapping resource="hbm/orderCake.hbm.xml"/>
		<mapping resource="hbm/shopCar.hbm.xml"/>
		<mapping resource="hbm/shopCarCake.hbm.xml"/>
		
		
	</session-factory>
</hibernate-configuration>