<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta charset="utf-8">
		<title>会员登录</title>
		<link rel="stylesheet" type="text/css" href="../CSS/bootstrap/css/3.3.7/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../CSS/bootstrap/css/bootstrap-responsive.css">
		<link rel="stylesheet" type="text/css" href="../CSS/loginCss.css">
		<script src="../JavaScripts/angular/angular.js"></script>
		<script src="../JavaScripts/angular/angular-route.js"></script>
		<!-- <script src="../JavaScripts/jsonjs/json2.js"></script>
		<script src="../JavaScripts/html5shiv/html5shiv.js"></script>
		<script src="../JavaScripts/angular/angular-ie7-support.js"></script> -->
		<script src="../JavaScripts/loginJs.js" type="text/javascript" charset="utf-8" defer></script>
	</head>
	<body ng-app="app">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="logo">
					会员登录
				</div>				
			</div>

			<div class="row-fluid">
				<div class="span5 offset1 visible-desktop">
					<img class="div1" src="../images/re-logo.jpeg" alt="logo">
				</div>
				<div class="span4 div2">
					<div id="div21" class="row-fluid">
						<div class="span4" style="color: #999;">
							会员登录
						</div>
						<div class="span5 offset3" style="color: #999;">
							没有账户，免费<a href="register.html" style="color: #f00;">注册</a>
						</div>				   						
					</div>

					<div id="div22" class="row-fluid" ng-controller="ParentCtrl">
						<div class="div221">
							<a href="#/nomal">
								<div id="nomal">普通登录</div>
							</a>
							<a href="#/flash">
								<div id="flash">验证码登录</div>
							</a>
						</div>
						
						<div ng-view></div>	
															
					</div>

					<div id="teamwork" class="row-fluid">
						<p class="span10 offset1">使用合作网站账号登录</p>
						<div id="teamlink" class="span10 offset1">
							<a href="#/weixin"><button class="btn" name=""></button></a>
						</div>
					</div>

				</div>
			</div>

		</div>

		<script type="text/ng-template" id="embedded.nomal.html">
			<form action="http://192.168.1.109:8080/cake_ssh/user_nomalLogin.action" method="get" accept-charset="utf-8">

				<div class="row-fluid errorInfo" ng-show="errorInfo">账号或密码错误！</div>

				<div class="row-fluid userdiv_nomal">
					<input id="user" class="span10 offset1" type="text" name="phone" maxlength="11" placeholder="请输入用户名/手机号">
				</div>
							
				<div id="passdiv" class="row-fluid userdiv_nomal">
					<input id="password" class="span10 offset1" type="password" name="password" placeholder="请输入密码">
				</div>									
				<div id="repassword" class="row-fluid">
					<a href="" class="span10 offset1">找回密码</a>
				</div>
				<div id="loginbtn" class="row-fluid">
					<input class="btn btn-danger span10 offset1" type="submit" name="" value="登录">
				</div>
				
			</form>
			
		</script>

		<script type="text/ng-template" id="embedded.flash.html">
			<form id="login_form" action="http://192.168.1.109:8080/cake_ssh/user_verificationCodeLogin.action" method="get" accept-charset="utf-8">

				<div id="phone" class="row-fluid userdiv_flash">				
					<div class="span5 offset1">
						<input id="phone_num" type="text" name="phone" maxlength="11" placeholder="请输入手机号" ng-model="phone_num">
					</div>
					<div class="span5 offset1">
						<div id="get_code" class="btn btn-default">获取手机验证码</div>							
					</div>
				</div>
							
				<div class="row-fluid div_media" style="margin-bottom: 15px;">
					<input id="ver_num" class="span10 offset1" type="text" name="inputLoginVerificationCode" placeholder="请输入手机验证码" ng-model="ver_num">
				</div>
				<div id="loginbtn" class="row-fluid" ng-show="loginbtn_show">
					<input id="flash_login_btn" type="button" class="btn btn-danger span10 offset1" value="登录" ng-click="toVer()">
				</div>
			</form>
			
		</script>

		<script type="text/ng-template" id="weixin.html">
			<div class="row-fluid">
				<div id="weixinimg" class="span9 offset2">
					<img src="../images/weixinLogin.png" alt="微信登录二维码">
				</div>
			</div>
			<div class="row-fluid">
				<div class="span10 offset1 font_center">
					扫描上方二维码登录
				</div>
			</div>
		</script>

	</body>
</html>