.hengxian{
	width: 100%;
	height: 1px;
	background-color:  #999;
	position: fixed;
	top: 40px;
	z-index: 98;
}
.navigation{
	width: 100%;
	height: 100px;
	box-shadow: 0px 3px 3px #999;
	position: fixed;
	z-index: 97;
	top: 0px;
	background-color: #fff;
}
.midDiv{
	width: 100%;
	height: 100%;
	margin: auto;
}
.cake_logo{
	width: 200px;
	height: 100px;
	position: fixed;
	z-index: 99;
}
.lo_re{
	width: 100%;
	height: 30px;
}
.lo_re a,.lo_re div,.lo_re input{
	float: right;
	margin-right: 20px;
	margin-top: 5px;
	color: #999;
	text-decoration: none;
}
.lo_re input{
	width: 70px;
	height: 30px;
	font-size: 10px;
}
.shoppingCar{
	width: 30px;
	height: 30px;
	float: right;
}
.navi_item{
	width: 80%;
	height: 80px;
	margin-left: 300px;
}
.blank{
	width: 25%;
	height: 50%;
}
.all,.series,.new_activity,.user{
	width: 20%;
	height: 100%;
	float: left;
	font-size: 20px;
	text-align: center;
}
.show_div{
	width: 100%;
	margin: 0 auto;
	margin-top: 110px;
	overflow: hidden;
}
.scroll_div{
	position: relative;
	width: 5700px;
}
.a1 img,.a2 img,.a3 img{
	width: 100%;
	height: 500px;
	float: left;
}
.left1,.right1{
	width: 50px;
	height: 500px;
	position: absolute;
	z-index: 20;
}/* .left1{
	left: 10px;
}*/
.right1{
	right: 0px;
} 
#leftCan,#rightCan{
	margin-top: 225px
}
.bottom{
	width: 400px;
	height: 30px;
	background-color: rgba(204,204,204,0.1);
	position: relative;
	top: 470px;
	margin: 0 auto;
	z-index: 20;
}
.yuan1,.yuan2,.yuan3{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	background-color: #da4f49;
	position: absolute;
	top: 5px;
}
.yuan1{
	left: 100px;
}
.yuan2{
	left: 180px;
}
.yuan3{
	left: 260px;
}
.cake_item{
	width: 1050px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}
.cake_item_font{
	height: 20px;
	font-family: '黑体';
	font-size: 15px;
	color: #000;
	text-align: center;
}
.cake{
	margin-top: 10px;
}
.cake_div,.snack_div{
	width: 100%;
	height: 100%;
}
.item_navi{
	margin-top: 50px;
}
.navi_font a{
	text-align: left;
	color: #666;
}
.navi_font a:hover{
	text-decoration: none;
	color: #0a0;
}
.navi_font a:link{
	text-decoration: none;
	color: #030;
}
.cake1,.cake2,.cake3,.cake4,.cake5,.cake6,.cake7,.cake8,.cake9,.cake10,
.cake11,.cake12,.cake13,.cake14,.cake15,.cake16,.cake17,.cake18,.cake19,.cake20,
.snack1,.snack2,.snack3,.snack4,.snack5,.snack6,.snack7,.snack8,.snack9,.snack10{
	width: 180px;
	height: 200px;
	float: left;
	position: relative;
	margin-top: 10px;
	margin-right: 12px;
	transition: linear 0.8s;
	-moz-transition: linear 0.8s;
	-webkit-transition: linear 0.8s;
	-o-transition: linear 0.8s;
}
.cake1.ng-hide,.cake2.ng-hide,.cake3.ng-hide,.cake4.ng-hide,.cake5.ng-hide,.cake6.ng-hide,.cake7.ng-hide,.cake8.ng-hide,.cake9.ng-hide,.cake10.ng-hide,
.cake11.ng-hide,.cake12.ng-hide,.cake13.ng-hide,.cake14.ng-hide,.cake15.ng-hide,.cake16.ng-hide,.cake17.ng-hide,.cake18.ng-hide,.cake19.ng-hide,.cake20.ng-hide
{
	width: 0px;
	opacity: 0;
}
.cakes,.snacks{
	width: 100%;
	height: 150px;
	overflow: hidden;
	position: absolute;
	z-index: 77;
}
.cake_money{
	width: 100%;
	height: 50px;
	opacity: 0.6;
	background-color: #666;
	color: #fff;
	bottom: -50px;
	position: absolute;
	z-index: 88;
	text-align: center;
}
.cake_info{
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 15px;
	font-family: '黑体';
	color: #999;
	bottom: 0px;
	background-color: #fff;
	position: absolute;
}
@media(max-width: 980px) {	
	.cake_item{
		width: 100%;
	}
	.navi_item{
		margin: auto;
	}
}
@media(max-width: 767px) {
}